* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  -webkit-font-smoothing: antialiased;
  color: #212121;
  position: relative;
  font-family: "Poppins";
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

.body-color-1 {
  background-color: #212121;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a73e8;
  height: 14%;
  width: 100%;
  padding: 5rem;
}
.header__logo {
  color: #ecf0f1;
  font-size: 4rem;
  animation: logo-move 2s 2s alternate;
}
.header__logo h3 {
  display: inline-block;
  color: #ecf0f1;
}
.header__logo h3:hover {
  color: black;
}
.header__logo span {
  color: black;
}
.header__logo span:hover {
  color: #ecf0f1;
}
.header__logo:hover {
  color: #ecf0f1;
}
.header__logo:hover span {
  color: #ecf0f1;
}

.nav {
  display: flex;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-list__item {
  list-style: none;
  font-size: 2rem;
  padding: 0.2rem 0.5rem;
  align-self: center;
  border-radius: 0.6rem;
  color: #757575;
  background-color: #ecf0f1;
  transition: all 0.15s ease-in;
}
.nav-list__item a {
  text-decoration: none;
  color: #212121;
}
.nav-list__item a:hover {
  color: #f5f6fa;
}
.nav-list__item:not(:first-of-type) {
  margin-left: 3rem;
}
.nav-list__item:hover {
  color: #212121;
  background-color: #1765cc;
}

.toggle {
  position: absolute;
  background-color: #fff;
  height: 2rem;
  width: 4rem;
  border-radius: 2rem;
  position: relative;
  outline: none;
  border: none;
  margin-right: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.toggle__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #7360ff;
}
.toggle__check {
  display: none;
}

.toggle:focus {
  outline: none;
}

.toggle-ball {
  background-color: #000;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.mobile-nav {
  display: none;
}
.mobile-nav__checkbox {
  display: none;
  transition: all 0.4s;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__content {
  transform: scale(1);
  transition: all 0.4s;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon {
  background-color: transparent;
  left: 12px;
  top: 13px;
  transition: all 0.4s;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
  transform: rotate(135deg);
  left: 6px;
  top: 10px;
  transition: all 0.4s;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  transform: rotate(45deg);
  left: 6px;
  top: 10px;
}
.mobile-nav__bg {
  position: fixed;
  right: 8rem;
  top: 2.5rem;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  z-index: 1000;
  border-radius: 8px;
}
.mobile-nav__btn {
  position: fixed;
  right: 1.5rem;
  top: 1rem;
  text-align: center;
  width: 5rem;
  height: 5rem;
  background-color: #ecf0f1;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 8px;
}
.mobile-nav__content {
  transform-origin: right top;
  position: fixed;
  height: 60%;
  width: 60%;
  top: 25%;
  right: 20%;
  text-align: center;
  background-color: #dcdde1;
  z-index: 1500;
  color: transparent;
  border-radius: 8px;
  transform: scale(0) translate(-50%, -50%);
}
.mobile-nav__items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mobile-nav__item {
  list-style: none;
  display: block;
  margin: 1rem;
  transition: all 0.4s;
  border-radius: 8px;
  margin: 1rem;
  color: #fff;
}
.mobile-nav__item:hover {
  transform: translateY(-0.6rem);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
.mobile-nav__link:link, .mobile-nav__link:visited {
  text-decoration: none;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
  background-image: linear-gradient(135deg, #1a73e8 0%, #1a73e8 40%, #212121 50%);
  transition: all 0.4s;
  background-size: 300%;
  border-radius: 8px;
  padding: 4px 8px;
}
.mobile-nav__link:hover, .mobile-nav__link:active {
  background-position: 100%;
}
.mobile-nav__icon {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  height: 2px;
  width: 3rem;
  z-index: 3000;
  display: inline-block;
}
.mobile-nav__icon::before {
  content: " ";
  height: 2px;
  width: 3rem;
  background-color: #000;
  position: absolute;
  top: -10px;
  transform: translate(-50%, -50%);
}
.mobile-nav__icon::after {
  position: absolute;
  content: " ";
  height: 2px;
  width: 3rem;
  background-color: #000;
  top: 10px;
  transform: translate(-50%, -50%);
}

.about {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}
.about__text {
  font-size: 2rem;
  padding: 2rem;
}
.about__img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
}

.about-me {
  width: 100%;
  height: 40%;
  padding: 2rem;
}
.about-me__title {
  text-align: center;
  font-size: 3rem;
  font-family: "Poppins";
}
.about-me__paragraph {
  font-size: 2rem;
  font-family: "Poppins";
  text-align: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills__item {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}
.skills__text {
  font-size: 4rem;
  font-weight: 700;
  display: block;
  text-align: center;
}
.skills__text::after {
  content: "";
  width: 100%;
  border-bottom: 0.2rem solid #212121;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__main-title {
  font-size: 3rem;
}
.project__code {
  text-decoration: none;
  color: #ecf0f1;
  border-radius: 8px;
  padding: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #1a73e8;
  margin-right: 2rem;
}
.project__code:hover {
  background-color: #212121;
}
.project__preview {
  text-decoration: none;
  color: #ecf0f1;
  border-radius: 8px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  background-color: #1a73e8;
}
.project__preview:hover {
  background-color: #212121;
}
.project__description {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}
.project__title {
  font-size: 2.2rem;
}

.projects {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  transition: all 2.8s;
}
.projects__card:hover .stack {
  transform: translateX(1rem) rotate(90deg);
  z-index: 5;
}
.projects__card:hover .stack-2 {
  transform: translateX(1rem) rotate(90deg);
  z-index: 5;
}
.projects__card:hover .stack__item {
  background-color: #fff;
  color: #1a73e8;
}
.projects__card {
  margin: 1.2rem 3rem;
  background-color: #dcdde1;
  border-radius: 1.2rem;
  min-width: 18%;
  max-width: 20%;
  height: 340px;
  flex: 0 1 auto;
  position: relative;
}
.projects__card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.projects__card-info--links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 5%;
}
.projects__card-img {
  height: 40%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
}

.stack {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: -28%;
  transform: rotateZ(90deg);
  z-index: -1;
}
.stack__item {
  margin: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.4rem;
  background-color: #212121;
  border-radius: 0.4rem;
  color: #f5f6fa;
  transition: all 0.4s ease;
}

.stack-2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: -14.5%;
  transform: rotateZ(90deg);
  z-index: -2;
}

.footer {
  background-color: #1a73e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  font-size: 2rem;
}
.footer h3 {
  color: #f5f6fa;
}
.footer__links {
  display: flex;
  text-decoration: none;
}
.footer__link {
  display: flex;
  text-decoration: none;
  color: #ecf0f1;
  margin: 1rem;
}
.footer__link:hover, .footer__link:active {
  color: #212121;
}
.footer__link:hover svg, .footer__link:active svg {
  fill: #212121;
}
.footer p {
  color: #f5f6fa;
}

.colored-text-1 {
  color: #1765cc;
}
.colored-text-2 {
  color: #212121;
}

.upperCase {
  text-transform: capitalize;
  text-align: center;
}

.icon-1 {
  display: block;
  justify-self: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  fill: #1a73e8;
}
.icon-2 {
  width: 2rem;
  height: 2rem;
  fill: #ecf0f1;
  margin: 0 1rem;
}
.icon-3 {
  fill: #ecf0f1;
}

.darkmode {
  color: #1a73e8;
  font-size: 4rem;
}

.font-1 {
  font-size: 1.5rem;
}
.font-2 {
  font-size: 2.5rem;
}
.font-3 {
  font-size: 3.5rem;
}

@media (max-width: 17.5em) {
  .header__logo h3 {
    font-size: 2.7rem;
    padding-left: 0;
    padding: 0;
  }

  .mobile-nav {
    display: block;
  }
  .mobile-nav__btn {
    left: 80%;
    top: 14rem;
  }
  .mobile-nav__content {
    height: max-content;
  }
  .mobile-nav__bg {
    transform-origin: right;
    position: fixed;
    height: 90rem;
    width: 60vw;
    top: 5rem;
    right: 1.6rem;
  }
  .mobile-nav__item:not(:first-of-type) {
    margin-bottom: 6px;
  }
  .mobile-nav__item:first-of-type {
    margin-bottom: 2px;
  }
  .mobile-nav__items {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100vh;
  }

  .footer h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 21.5625em) {
  .footer {
    padding: 1rem;
  }
  .footer h3 {
    font-size: 1.1rem;
  }
  .footer p {
    padding-top: 0rem;
    font-size: 1rem;
  }
  .footer__links {
    margin-top: 0rem;
  }
  .footer__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  }

  .toggle {
    transform: translateY(50%) translateX(-10px);
    border-radius: 1rem;
    margin-right: 0rem;
  }

  .header {
    width: 100%;
    padding: 1.5rem;
  }

  .header__logo {
    font-size: 3rem;
  }

  .about__img {
    margin-left: 0rem;
    margin-right: 2rem;
  }

  .mobile-nav {
    display: block;
  }
  .mobile-nav__btn {
    width: 4rem;
    height: 4rem;
    right: 1.5rem;
    top: 12rem;
  }
  .mobile-nav__icon {
    width: 2rem;
  }
  .mobile-nav__icon::before {
    width: 2rem;
  }
  .mobile-nav__icon::after {
    width: 2rem;
  }
  .mobile-nav__content {
    margin-top: 5rem;
  }
  .mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
    left: 4px;
    top: 4px;
  }
  .mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
    left: 4px;
    top: 4px;
  }
}
@media (max-width: 23.75em) {
  .header__logo {
    font-size: 2.6rem;
    text-align: center;
    margin-top: 0rem;
  }
  .header__logo span {
    padding: 0;
  }

  .stack {
    left: 70%;
  }

  .stack-2 {
    left: 80%;
  }

  .projects__card {
    min-width: 65%;
    height: 250px;
  }
}
@media (max-width: 37.5em) {
  .mobile-nav {
    display: block;
  }
  .mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
    left: 12px;
    top: 12px;
  }
  .mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
    left: 12px;
    top: 12px;
  }
  .mobile-nav__btn {
    right: 2.5rem;
    top: 2rem;
  }
  .mobile-nav__items {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-nav__content {
    height: max-content;
  }

  .nav {
    display: none;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about__img {
    width: 22rem;
    height: 22rem;
    justify-self: center;
  }

  .about__text {
    margin-left: 10px;
    padding: 10px 5px;
  }

  .about__paragraph {
    font-size: 15px;
  }

  .skills__items {
    flex-wrap: wrap;
    align-items: center;
  }

  .stack {
    right: -49.8%;
  }
  .stack__item {
    padding: 0.25rem;
    border-radius: 0.4rem;
  }

  .stack-2 {
    right: -16.5%;
  }

  .project__main-title {
    font-size: 3.8rem;
    text-align: center;
    font-weight: 700;
  }
  .project__title {
    font-size: 1.2rem;
  }
  .project__code {
    margin-top: 10px;
    border-radius: 6px;
    padding: 0;
    margin-right: 2px;
  }
  .project__preview {
    margin-top: 10px;
    margin-left: 2px;
    border-radius: 6px;
    padding: 0;
  }
  .project__description {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1;
  }

  .projects {
    flex-direction: column;
  }
  .projects__card {
    background-color: #dcdde1;
    border-radius: 1rem;
    max-width: 18rem;
    min-height: 30rem;
    position: relative;
  }
  .projects__card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .projects__card-info--links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: center;
    position: absolute;
    bottom: 5%;
    font-size: 9px;
    margin-top: 2rem;
  }

  .footer h3 {
    margin-top: -1.5rem;
    font-size: 1.4rem;
    color: #ecf0f1;
  }
  .footer p {
    padding-top: 1.5rem;
    font-size: 1rem;
  }
  .footer__links {
    margin-top: 2rem;
  }
  .footer__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
  }

  .header {
    justify-content: center;
  }

  .header__logo__logo {
    margin: 0;
    padding: 0;
    color: #ecf0f1;
    font-size: 14px;
  }
  .header__logo__logo h3 {
    font-weight: 300;
    padding: 0;
    margin: 0;
  }
  .header__logo__logo span {
    color: black;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 56.25em) {
  .header {
    height: 14%;
    width: 100%;
  }
  .header__logo {
    font-size: 3rem;
  }
  .header__logo h3 {
    color: #ecf0f1;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about__img {
    align-self: center;
  }

  .nav {
    margin-right: 0;
  }
  .nav-list {
    justify-content: space-between;
  }
  .nav-list__item {
    margin-right: 0.3rem;
    margin-left: 0.8rem;
    font-size: 1.6rem;
    padding: 0.2rem 0.2rem;
    align-self: center;
    border-radius: 0.6rem;
    color: #757575;
    background-color: #ecf0f1;
    transition: all 0.15s ease-in;
  }

  .project__main-title {
    font-size: 3.5rem;
    font-weight: 600;
  }

  .stack {
    right: -32%;
    z-index: 5;
  }
  .stack__item {
    background-color: #fff;
    color: #1a73e8;
  }

  .stack-2 {
    right: -20%;
    z-index: 5;
  }

  .projects__card {
    min-width: 40%;
    height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
