* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  -webkit-font-smoothing: antialiased;
  color: #212121;
  position: relative;
  font-family: "Fira Sans";
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

.body-color-1 {
  background-color: #212121;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a73e8;
  height: 14%;
  width: 100%;
  padding: 1rem;
}
.header__logo {
  margin-top: 1rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.header__logo span {
  color: black;
}
.header__logo span:hover {
  color: #ecf0f1;
}
.header__logo > h3[type=logo] {
  background-image: linear-gradient(#ecf0f1 50%, #989aef 60%);
  font-size: 4.5rem;
  font-weight: 700;
  padding: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  overflow: hidden;
}
.header__logo > h3[type=logo]::before {
  content: "Abdullahi";
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  z-index: 6;
  transform-origin: top;
  transform: translateX(105%);
  transition: all 1s linear 0.01s;
  -webkit-transform: translateX(105%);
  -moz-transform: translateX(105%);
  -ms-transform: translateX(105%);
  -o-transform: translateX(105%);
}
.header__logo > h3[type=logo]:hover::before {
  transform: translateX(0);
}
.header__logo:hover {
  color: #ecf0f1;
}
.header__logo:hover span {
  color: #ecf0f1;
}

.nav-list {
  display: flex;
  align-items: center;
}
.nav-list__item {
  list-style: none;
  font-size: 2rem;
  padding: 0.2rem 0.5rem;
  align-self: center;
  border-radius: 0.6rem;
  color: #757575;
  background-color: #ecf0f1;
  transition: all 0.15s linear;
  position: relative;
}
.nav-list__item:hover a {
  color: #ecf0f1;
}
.nav-list__item:hover .link-1 {
  transform: translateX(100%);
  opacity: 0;
}
.nav-list__item:hover .link-2 {
  transform: translateX(0);
  opacity: 1;
}
.nav-list__item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f5f6fa;
  opacity: 0;
  transition: all 0.2s linear 0.3s;
}
.nav-list__item:hover::before {
  top: -10px;
  left: -8px;
  opacity: 1;
}
.nav-list__item:hover::after {
  bottom: -10px;
  right: -8px;
  opacity: 1;
}
.nav-list__item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-width: 0px 4px 4px 0px;
  background-color: #f5f6fa;
  opacity: 0;
  transition: all 0.2s linear 0.3s;
}
.nav-list__item a {
  text-decoration: none;
  color: #212121;
}
.nav-list__item a::before {
  content: "";
}
.nav-list__item a:hover {
  color: #f5f6fa;
}
.nav-list__item:not(:first-of-type) {
  margin-left: 2rem;
}
.nav-list__item:hover {
  border-bottom: 4px solid #262626;
  color: #212121;
  background-color: #1765cc;
}
.nav__links {
  text-decoration: none;
  padding: 4px 8px;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.nav__links .link-1 {
  display: flex;
  align-items: center;
  transition: all 0.4s linear;
}
.nav__links .link-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.4s linear 0.3s;
}

.toggle {
  position: absolute;
  background-color: #fff;
  height: 2rem;
  width: 4rem;
  border-radius: 2rem;
  position: relative;
  outline: none;
  border: none;
  margin-right: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.toggle__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #7360ff;
}
.toggle__check {
  display: none;
}

.toggle:focus {
  outline: none;
}

.toggle-ball {
  background-color: #000;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

@keyframes textTrans {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%) scale(1.2);
  }
  100% {
    transform: translateX(100%);
  }
}
.mobile-nav {
  display: none;
}
.mobile-nav__checkbox {
  display: none;
  transition: all 0.4s;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__content {
  transform: scale(1);
  transition: all 0.4s;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon {
  background-color: transparent;
  left: 12px;
  top: 13px;
  transition: all 0.4s;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
  transform: rotate(135deg);
  left: 6px;
  top: 10px;
  transition: all 0.4s;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
  transform: rotate(45deg);
  left: 6px;
  top: 10px;
}
.mobile-nav__bg {
  position: fixed;
  right: 8rem;
  top: 2.5rem;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  z-index: 1000;
  border-radius: 8px;
}
.mobile-nav__btn {
  position: fixed;
  right: 1.5rem;
  top: 1rem;
  text-align: center;
  width: 5rem;
  height: 5rem;
  background-color: #ecf0f1;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 8px;
}
.mobile-nav__content {
  transform-origin: right top;
  position: fixed;
  height: 60%;
  width: 60%;
  top: 25%;
  right: 20%;
  text-align: center;
  background-color: #dcdde1;
  z-index: 1500;
  color: transparent;
  border-radius: 8px;
  transform: scale(0) translate(-50%, -50%);
}
.mobile-nav__items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mobile-nav__item {
  list-style: none;
  display: block;
  margin: 1rem;
  height: 25px;
  width: 70px;
  transition: all 0.4s;
  border-radius: 10px;
  margin: 1rem;
  color: #fff;
}
.mobile-nav__item:hover {
  transform: translateY(-0.6rem);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}
.mobile-nav__link:link, .mobile-nav__link:visited {
  text-decoration: none;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: capitalize;
  background-image: linear-gradient(135deg, #1765cc 0%, #1765cc 40%, #212121 50%);
  transition: all 0.4s;
  background-size: 300%;
  border-radius: 8px;
  padding: 4px 8px;
}
.mobile-nav__link:hover, .mobile-nav__link:active {
  background-position: 100%;
}
.mobile-nav__icon {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  height: 2px;
  width: 3rem;
  z-index: 3000;
  display: inline-block;
}
.mobile-nav__icon::before {
  content: " ";
  height: 2px;
  width: 3rem;
  background-color: #000;
  position: absolute;
  top: -10px;
  transform: translate(-50%, -50%);
}
.mobile-nav__icon::after {
  position: absolute;
  content: " ";
  height: 2px;
  width: 3rem;
  background-color: #000;
  top: 10px;
  transform: translate(-50%, -50%);
}

.about {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 2rem;
}
.about__text {
  flex: 0.75;
  font-size: 2rem;
  padding: 1rem;
}
.about__img {
  flex: 0.15;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: top center center bottom;
}
.about__img--info {
  font-size: 2.5rem;
  z-index: 25;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  display: none;
  font-family: "Overpass", sans-serif;
}
.about__img--info .name {
  font-family: "Ubuntu", sans-serif;
  color: #212121;
}
.about__img:hover + .about__img--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__img--container {
  padding: 4px;
  display: block;
  background-color: transparent;
  width: 35vw;
  height: 100%;
  border-radius: 1rem;
  position: relative;
}
.about__img--container:hover {
  background-color: #f5f6fa;
  transform: translateY(-5px);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.about__img--container:hover img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.about__img--container::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -6;
  transform: rotate(0deg) scale(0);
  background-color: #f5f6fa;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 12px;
}
.about__img--container:hover::before {
  transform: rotate(65deg) scale(1);
  opacity: 1;
  -webkit-transform: rotate(65deg) scale(1);
  -moz-transform: rotate(65deg) scale(1);
  -ms-transform: rotate(65deg) scale(1);
  -o-transform: rotate(65deg) scale(1);
}
.about__img--container::after {
  content: "";
  position: absolute;
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  transform: rotate(0deg) scale(0);
  background-color: #f5f6fa;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 12px;
}
.about__img--container:hover::after {
  transform: rotate(-65deg) scale(1);
  opacity: 1;
  -webkit-transform: rotate(-65deg) scale(1);
  -moz-transform: rotate(-65deg) scale(1);
  -ms-transform: rotate(-65deg) scale(1);
  -o-transform: rotate(-65deg) scale(1);
}

.about-me {
  width: 100%;
  height: 40%;
  padding: 2rem;
}
.about-me__title {
  text-align: center;
  font-size: 3rem;
  font-family: "Fira Sans";
}
.about-me__paragraph {
  font-size: 2rem;
  font-family: "Fira Sans";
  text-align: center;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}
.skills__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills__item {
  width: 100px;
  height: 90px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background-color: #f5f6fa;
  box-shadow: 7px 7px 22px #bdbdc1, -7px -7px 22px #ffffff;
  transition: all 0.1s linear;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.skills__item:hover {
  transform: scale(1.1);
  background: #212121;
  box-shadow: 7px 7px 3px #131313, -7px -7px 3px #2f2f2f;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.skills__item--text {
  color: #BDBDBD;
  font-size: 1.8rem;
}
.skills__item:hover .skills__item--text {
  color: #1a73e8;
  font-size: 1.9rem;
}
.skills__text {
  font-size: 4rem;
  font-weight: 700;
  display: block;
  text-align: center;
  position: relative;
  transition: width 0.8s ease;
}
.skills__text::after {
  content: "";
  position: absolute;
  background-color: #1765cc;
  height: 5px;
  width: 0px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.skills:hover .skills__text::after {
  width: 110px;
}

.project__main-title {
  text-align: center;
  font-size: 3rem;
}
.project__code {
  text-decoration: none;
  color: #ecf0f1;
  border-radius: 6px;
  padding: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease-out;
  background-color: #1a73e8;
  margin-right: 2rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.project__code:hover {
  background-color: #212121;
}
.project__preview {
  text-decoration: none;
  color: #ecf0f1;
  border-radius: 6px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  background-color: #1a73e8;
  transition: all 0.3s ease-out;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.project__preview:hover {
  background-color: #212121;
}
.project__description {
  align-self: center;
  justify-self: center;
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
}
.project__title {
  font-size: 1.8rem;
  letter-spacing: 2px;
  background-image: linear-gradient(#ecf0f1 50%, #989aef 60%);
  transform: skew(-24deg);
  -webkit-transform: skew(-24deg);
  -moz-transform: skew(-24deg);
  -ms-transform: skew(-24deg);
  -o-transform: skew(-24deg);
}
.project__title-temporary {
  width: 75%;
  transform: translateY(-29rem) translateX(40%) rotateZ(35deg);
  text-align: center;
  z-index: 50;
  letter-spacing: 1px;
  background-color: #fff;
  background-image: linear-gradient(#ecf0f1 50%, #989aef 50%);
  color: #212121;
  text-transform: uppercase;
  transition: all 0.4s linear;
  -webkit-transform: translateY(-29rem) translateX(40%) rotateZ(35deg);
  -moz-transform: translateY(-29rem) translateX(40%) rotateZ(35deg);
  -ms-transform: translateY(-29rem) translateX(40%) rotateZ(35deg);
  -o-transform: translateY(-29rem) translateX(40%) rotateZ(35deg);
}

.projects {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 38px;
  width: 100%;
  transition: all 2.8s;
}
.projects__card:hover .stack {
  transform: translateX(1rem);
  z-index: 5;
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -o-transform: translateX(1rem);
}
.projects__card:hover .stack-2 {
  transform: translateX(1rem);
  z-index: 5;
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -o-transform: translateX(1rem);
}
.projects__card:hover .stack__item {
  background-color: #fff;
  color: #1a73e8;
}
.projects__card {
  background-color: transparent;
  border-radius: 1.2rem;
  height: 340px;
  flex: 0 1 auto;
  position: relative;
}
.projects__card:hover {
  overflow: hidden;
}
.projects__card:hover .projects__card-info {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}
.projects__card:hover .project__title-temporary {
  opacity: 0;
}
.projects__card-info {
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  position: absolute;
  left: 10%;
  bottom: -90%;
  background-color: #f5f6fa;
  width: 80%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s linear 0.1s;
  -webkit-transition: all 0.5s linear 0.1s;
  -moz-transition: all 0.5s linear 0.1s;
  -ms-transition: all 0.5s linear 0.1s;
  -o-transition: all 0.5s linear 0.1s;
}
.projects__card-info--links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 5%;
}
.projects__card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.projects__card-img--container {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.stack {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -10%;
  text-align: center;
  z-index: -16;
}
.stack__item {
  margin: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.4rem;
  background-color: #212121;
  border-radius: 0.4rem;
  color: #f5f6fa;
  transition: all 0.4s ease;
}

.stack-2 {
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -10%;
  z-index: -16;
}

.footer {
  background-color: #1a73e8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  font-size: 2rem;
}
.footer .git-link:hover + .design {
  color: #f5f6fa;
}
.footer .design {
  color: #212121;
  font-size: 3rem;
  font-weight: 900;
}
.footer h3 {
  color: #f5f6fa;
}
.footer__links {
  display: flex;
  text-decoration: none;
}
.footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ecf0f1;
  margin: 0 1rem;
  transition: all 0.3s ease-in;
}
.footer__link:hover {
  justify-content: space-between;
  transform: scale(1.05) translateY(-2px);
}
.footer__link svg {
  margin: 0;
}
.footer__link:hover, .footer__link:active {
  color: #212121;
}
.footer__link:hover svg, .footer__link:active svg {
  fill: #212121;
}
.footer__link:visited {
  transform: scale(1.15) translateY(5px);
}
.footer p {
  color: #f5f6fa;
}
.footer p a {
  color: inherit;
  cursor: pointer;
  text-decoration-color: #212121;
  -moz-text-decoration-color: #212121;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.footer p a:hover {
  transform: scale(1.12) translateY(-5px);
  color: #212121;
  text-decoration-color: #f5f6fa;
  -moz-text-decoration-color: #f5f6fa;
  -webkit-transform: scale(1.12) translateY(-5px);
  -moz-transform: scale(1.12) translateY(-5px);
  -ms-transform: scale(1.12) translateY(-5px);
  -o-transform: scale(1.12) translateY(-5px);
}
.footer p a::visited, .footer p a:link, .footer p a::active {
  transform: scale(0.92) translateY(5px);
  -webkit-transform: scale(0.92) translateY(5px);
  -moz-transform: scale(0.92) translateY(5px);
  -ms-transform: scale(0.92) translateY(5px);
  -o-transform: scale(0.92) translateY(5px);
}

.colored-text-1 {
  color: #1765cc;
}
.colored-text-2 {
  color: #1a73e8;
}

.upperCase {
  text-transform: capitalize;
  text-align: center;
}

.capitalize {
  text-transform: uppercase;
  text-align: center;
}

.icon-1 {
  display: block;
  justify-self: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  fill: #1a73e8;
}
.icon-2 {
  width: 2rem;
  height: 2rem;
  fill: #ecf0f1;
  margin: 0 1rem;
}
.icon-3 {
  fill: #ecf0f1;
}

.darkmode {
  color: #1a73e8;
  font-size: 4rem;
}

.font-1 {
  font-size: 1.5rem;
}
.font-2 {
  font-size: 2.5rem;
}
.font-3 {
  font-size: 3.5rem;
}

@media (max-width: 17.5em) {
  .project__description {
    font-size: 1.1rem;
  }

  .header__logo h3 {
    font-size: 2.7rem;
    padding-left: 0;
    padding: 0;
  }

  .mobile-nav {
    display: block;
  }
  .mobile-nav__btn {
    left: 80%;
    top: 14rem;
  }
  .mobile-nav__content {
    height: max-content;
  }
  .mobile-nav__bg {
    transform-origin: right;
    position: fixed;
    height: 90rem;
    width: 60vw;
    top: 5rem;
    right: 1.6rem;
  }
  .mobile-nav__item:not(:first-of-type) {
    margin-bottom: 6px;
  }
  .mobile-nav__item:first-of-type {
    margin-bottom: 2px;
  }
  .mobile-nav__items {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100vh;
  }

  .footer h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 21.5625em) {
  .project__description {
    font-size: 1.1rem;
  }

  .footer {
    padding: 1rem;
  }
  .footer h3 {
    font-size: 1.1rem;
  }
  .footer p {
    padding-top: 0rem;
    font-size: 1rem;
  }
  .footer__links {
    margin-top: 0rem;
  }
  .footer__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  }

  .toggle {
    transform: translateY(50%) translateX(-10px);
    border-radius: 1rem;
    margin-right: 0rem;
  }

  .header {
    width: 100%;
    padding: 1.5rem;
  }

  .header__logo {
    font-size: 3rem;
  }

  .about__img {
    flex: 0.35;
  }

  .mobile-nav {
    display: block;
  }
  .mobile-nav__btn {
    width: 4rem;
    height: 4rem;
    right: 1.5rem;
    top: 12rem;
  }
  .mobile-nav__icon {
    width: 2rem;
  }
  .mobile-nav__icon::before {
    width: 2rem;
  }
  .mobile-nav__icon::after {
    width: 2rem;
  }
  .mobile-nav__content {
    margin-top: 5rem;
  }
  .mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
    left: 4px;
    top: 4px;
  }
  .mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
    left: 4px;
    top: 4px;
  }
}
@media (max-width: 23.75em) {
  .header__logo {
    font-size: 2.6rem;
    text-align: center;
    margin-top: 0rem;
  }
  .header__logo span {
    padding: 0;
  }

  .project__description {
    font-size: 1.1rem;
  }
}
@media (max-width: 37.5em) {
  .mobile-nav {
    display: block;
  }
  .mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::before {
    left: 12px;
    top: 12px;
  }
  .mobile-nav__checkbox:checked ~ .mobile-nav__btn .mobile-nav__icon::after {
    left: 12px;
    top: 12px;
  }
  .mobile-nav__btn {
    right: 2.5rem;
    top: 2rem;
  }
  .mobile-nav__items {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-nav__content {
    height: max-content;
  }

  .nav {
    display: none;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about__img {
    justify-self: center;
  }
  .about__img--info {
    font-size: 1.3rem;
  }

  .about__text {
    margin-left: 10px;
    padding: 10px 5px;
  }

  .about__paragraph {
    font-size: 15px;
  }

  .skills__items {
    flex-wrap: wrap;
    align-items: center;
  }

  .stack__item {
    padding: 0.25rem;
    border-radius: 0.4rem;
  }

  .project__main-title {
    font-size: 3.8rem;
    text-align: center;
    font-weight: 700;
  }
  .project__title {
    font-size: 1.35rem;
  }
  .project__title-temporary {
    width: 66%;
    transform: translateY(-25rem) translateX(50%) rotateZ(35deg);
    -webkit-transform: translateY(-25rem) translateX(50%) rotateZ(35deg);
    -moz-transform: translateY(-25rem) translateX(50%) rotateZ(35deg);
    -ms-transform: translateY(-25rem) translateX(50%) rotateZ(35deg);
    -o-transform: translateY(-25rem) translateX(50%) rotateZ(35deg);
  }
  .project__code {
    margin-top: 10px;
    border-radius: 6px;
    padding: 0;
    margin-right: 2px;
  }
  .project__preview {
    margin-top: 10px;
    margin-left: 2px;
    border-radius: 6px;
    padding: 0;
  }
  .project__description {
    padding: 12px 5px 0;
    font-size: 1.1rem;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 40px;
  }
  .projects__card {
    background-color: #dcdde1;
    border-radius: 1rem;
    position: relative;
  }
  .footer h3 {
    margin-top: -1.5rem;
    font-size: 1.4rem;
    color: #ecf0f1;
  }
  .footer p {
    padding-top: 1.5rem;
    font-size: 1rem;
  }
  .footer__links {
    margin-top: 2rem;
  }
  .footer__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
  }

  .header {
    justify-content: center;
  }

  .header__logo__logo {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  .header__logo__logo h3 {
    font-weight: 300;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#ecf0f1 50%, #989aef 60%);
  }
  .header__logo__logo span {
    color: black;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 56.25em) {
  .header {
    height: 14%;
    width: 100%;
    font: sans-serif;
  }
  .header__logo {
    font-size: 3rem;
  }
  .header__logo h3 {
    background-image: linear-gradient(#ecf0f1 50%, #989aef 60%);
  }

  .about {
    flex-direction: column-reverse;
  }

  .about__img {
    align-self: center;
  }

  .nav {
    margin-right: 0;
  }
  .nav-list {
    justify-content: space-between;
  }
  .nav-list__item {
    margin-right: 0.3rem;
    margin-left: 0.8rem;
    font-size: 1.6rem;
    padding: 0.2rem 0.2rem;
    align-self: center;
    border-radius: 0.6rem;
    color: #757575;
    background-color: #ecf0f1;
    transition: all 0.15s ease-in;
  }

  .project__main-title {
    font-size: 3.5rem;
    font-weight: 600;
  }

  .stack {
    z-index: 5;
  }
  .stack__item {
    background-color: #fff;
    color: #1a73e8;
  }

  .stack-2 {
    z-index: 5;
  }

  .project__description {
    margin: 0 auto;
    align-self: center;
    justify-self: center;
  }

  .footer {
    padding: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
