.about{
    font-size: 1.5rem;
    font-weight:400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem  2rem;

    &__text{
        font-size: 3rem;
        padding: 2rem;
    }


    &__img{
        width: 25%;
        height: 25%;
        border-radius: 50%;

    }
}



.about-me{
    width: 100%;
    height: 40%;
    padding:2rem;

    &__title{
        text-align:center;
        font-size: 3.2rem;
        font-family: $font-primary;
    }

    &__paragraph{
        font-size: 2rem;
        font-family: $font-primary;
        text-align:center;
    }
}