.about{
    font-size: 1.5rem;
    font-weight:400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem  2rem;

    

    &__text{
        flex: .75;
        font-size: 2rem;
        padding: 1rem;
    }


    &__img{
        flex: .15;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
        object-position: top center center bottom;



        &--info{
            font-size: 2.5rem;
            z-index: 25;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -ms-transform: translate(-50%);
            -o-transform: translate(-50%);
            display: none;

            font-family: 'Overpass', sans-serif;
            
            .name {
                font-family: "Ubuntu", sans-serif;
                color: $color-primary-text;
            }
        }

        &:hover + .about__img--info{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &--container{
            padding: 4px;
            display: block;
            background-color: transparent;
            width: 35vw;
            height: 100%;
            border-radius: 1rem;
            position: relative;
            //overflow: hidden;
            &:hover{
                background-color: $color-white-2;
                transform: translateY(-5px);
                transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -webkit-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -moz-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -ms-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                -o-transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);


                img{

                    // opacity: .8;
                    filter: blur(5px);
                    -webkit-filter: blur(5px);
                }
            }

            &::before{
                content: "";
                position: absolute;
                width: 85%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -6;
                transform: rotate(0deg) scale(0);
                background-color: $color-white-2;
                transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                border-radius: 12px;
            }
            &:hover::before{
                transform: rotate(65deg) scale(1);
                opacity: 1;
                -webkit-transform: rotate(65deg) scale(1);
                -moz-transform: rotate(65deg) scale(1);
                -ms-transform: rotate(65deg) scale(1);
                -o-transform: rotate(65deg) scale(1);
}
            &::after{
                content: "";
                position: absolute;
                width: 85%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -5;
                transform: rotate(0deg) scale(0);
                background-color: $color-white-2;
                transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                border-radius: 12px;
            }
            &:hover::after{
                transform: rotate(-65deg) scale(1);
                opacity: 1;
                -webkit-transform: rotate(-65deg) scale(1);
                -moz-transform: rotate(-65deg) scale(1);
                -ms-transform: rotate(-65deg) scale(1);
                -o-transform: rotate(-65deg) scale(1);
}
    
        }

    }
}



.about-me{
    width: 100%;
    height: 40%;
    padding:2rem;

    &__title{
        text-align:center;
        font-size: 3rem;
        font-family: $font-primary;
    }

    &__paragraph{
        font-size: 2rem;
        font-family: $font-primary;
        text-align:center;
    }
}