////colors

$color-primary-1:#1a73e8;
$color-primary-2:#1765cc ;
$color-primary-3:#185abc;

$color-tertiary-accent:#1765cc;
$color-secondary-dark:#1a73e8;

// $color-tertiary-accent:#FF4081;
// $color-secondary-dark:#e52a5a;

$color-text-icon:#212121;
$color-primary-text:#212121;
$color-secondary-text:#757575;
$color-divider:#BDBDBD;

$color-white-1:#dcdde1;
$color-white-2:#f5f6fa;
$color-white-3:#ecf0f1;
$color-blue-1:#989aef; 
$color-blue-2:#7360ff ;
$color-blue-3:#64707d;

$Dark-green: #28b485;
$kinda-green:rgb(34, 226, 127);

//fonts
$font-primary:'Fira Sans';
$font-secondary:"san serif";



*{
    margin:0;
    padding: 0;
}

*,*::after,*::before{
    box-sizing: border-box;
}

body{
    background-color: $color-white-3;
    -webkit-font-smoothing:antialiased;


    color: $color-primary-text;
    position: relative;
    font-family: $font-primary;
    // overflow: hidden;
}

html,body{
    height: 100%;
}

html{
    font-size:62.5%;
}

img,video,svg{
    display: block;
    max-width: 100%;
}
.body-color-1{
    background-color: #212121;
    color: #fff;
}





