.footer{
    background-color: $color-secondary-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    font-size: 2rem;

    h3{
        color: $color-white-2;
    }
    
    &__links{
        display: flex;
        text-decoration: none;        
    }
    &__link{
        display: flex;
        align-items:center;
        text-decoration: none;
        color: $color-white-3;
        margin:0 1rem;
        transition:all .3s ease-in;
        &:hover{
            justify-content:space-between;
            transform:scale(1.05) translateY(-2px);
        }
        svg{
            margin:0;
        }
        
    }

    &__link:hover,&__link:active {
        color: #212121;
        svg{
        fill: #212121;
        }
    }

    &__link:visited {
        transform:scale(1.15) translateY(5px);
    }


    p{
        color: $color-white-2;
        a{
            color:inherit;
            &:hover{
                transform:scale(1.12) translateY(-5px);
            }
            &::visited,&:link,&::active{
                transform:scale(0.92) translateY(5px);
            }
        }
    }
}
