.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:$color-secondary-dark;
    height: 14%;
    width: 100%;
    padding: 5rem;


    &__logo{
        // padding-left: 5rem;
        color: $color-white-3;
        font-size: 4rem;
        // margin-top: 1rem;
        transition: all .8s ease-in;
        

        animation: logo-move 2s  2s alternate;
        h3{
            display: inline-block;
            color: $color-white-3;
        }
        h3:hover{
            color: black;
        }
        span{
            // padding: -5px;
            color: black;
        }
        span:hover{
            // padding: -5px;
            color: $color-white-3;
        }

    }

    &__logo:hover{

        color: $color-white-3;
        span{
            color: $color-white-3;
        }
    }
}

.nav{
    // margin-right: 1rem;
    // display: flex;
    &-list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        


        &__item{
            list-style: none;
            font-size: 2rem;
            padding: .2rem .5rem;
            align-self: center;
            
            border-radius: .6rem;
            color: $color-secondary-text;
            background-color:$color-white-3;
            transition: all .15s ease-in;

            a{
                text-decoration: none;
                color: $color-primary-text;
            }
            a:hover{
                color: $color-white-2;
            }
        }
        &__item:not(:first-of-type){
            margin-left: 3rem;
        }


        &__item:hover{
            border-bottom: 4px solid $color-secondary-text;
            color: $color-primary-text;
            background-color:$color-tertiary-accent;
        }
    }
}

.toggle{
    position: absolute;
    background-color: #fff;
    height: 2rem;
    width: 4rem;
    border-radius: 2rem;
    position: relative;
    outline: none;
    border: none;
    margin-right: 1.5rem;
    display: flex;
    justify-content: space-between;

    &__icon{
        width: 1.5rem;
        height: 1.5rem;
        fill: $color-blue-2;
    }

    &__check{
        display: none;
    }
}



.toggle:focus{
    outline: none;
}

.toggle-ball{
    background-color: #000;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

