.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__main-title{
        font-size: 4rem;
    }

    &__code{
        text-decoration: none;
        color: $color-secondary-dark;
        border-radius: 10px;
        padding: .4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $color-text-icon;
        margin-right: 2rem;
    }

    &__preview{
        text-decoration: none;
        color: $color-secondary-dark;
        border-radius: 10px;
        padding: .4rem;
        
        display: flex;
        align-items: center;
        background-color: $color-text-icon;
    }

    &__description{
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;
    }

    &__title{
        font-size: 2.5rem;
    }

}


.projects{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    


    &__card{
        // padding: 2rem ;
        margin: 2rem 4rem;
        background-color: $color-white-1;
        border-radius: 1.2rem;
        // overflow: hidden;
        width: 30rem;
        height: 45rem;
        position: relative;

        &-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            

            

            &--links{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                position: absolute;
                bottom: 5%;
            }
        }


        &-img{
            width: 100%;
            height: 40%;
            object-fit: cover;
            border-top-right-radius: 1.2rem;
            border-top-left-radius: 1.2rem;
        }
    }
}


.stack{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -4rem;

    &__item{
        transform: rotateZ(90deg);
        margin: .8rem;
        padding: .3rem;
        background-color: $color-text-icon;
        border-radius: .5rem;
        color: $color-secondary-dark;

    }
}

