.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__main-title{
        font-size: 3rem;
    }

    &__code{
        text-decoration: none;
        color: $color-white-3;
        border-radius: 8px;
        padding: .4rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $color-secondary-dark;
        margin-right: 2rem;
    }

    &__code:hover{
        background-color: $color-primary-text;
    }

    &__preview{
        text-decoration: none;
        color: $color-white-3;
        border-radius: 8px;
        padding: .4rem;
        
        display: flex;
        align-items: center;
        background-color: $color-secondary-dark;
    }

    &__preview:hover{
        background-color: $color-primary-text;
    }

    &__description{
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;
    }

    &__title{
        font-size: 2.2rem;
    }

}


.projects{
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transition: all 2.8s;

    &__card:hover .stack{
        transform:  translateX(1rem) rotate(90deg);
        z-index: 5;
    }
    &__card:hover .stack-2{
        transform:  translateX(1rem) rotate(90deg);
        z-index: 5;
    }
    &__card:hover .stack__item{
        background-color: #fff;
        color: $color-secondary-dark;
    }
    


    &__card{
        margin: 2rem 4rem;
        background-color: $color-white-1;
        border-radius: 1.2rem;
        max-width: 28rem;
        min-height: 38rem;

        position: relative;

        &-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            

            

            &--links{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                position: absolute;
                bottom: 5%;
            }
        }


        &-img{
            height: 40%;
            object-fit: cover;
            border-top-right-radius: 1.2rem;
            border-top-left-radius: 1.2rem;
        }
    }
}


.stack{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: -28%;
    transform: rotateZ(90deg);
    z-index: -1;

    


    &__item{
        margin: .5rem;
        margin-right: .5rem;
        padding: .4rem;
        background-color: $color-primary-text;
        border-radius: .4rem;
        color: $color-white-2;
        transition: all .4s ease;
        

    }

}



.stack-2{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    right: -14.5%;
    transform: rotateZ(90deg);
    z-index: -2;
}
