.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__items{
        display: flex;
        justify-content: center;

    }

    &__item{
        display: flex;
        flex-direction: column;
        margin: 2rem;
        justify-content: center;
        align-items: center;
    }

    &__text{
        font-size: 4rem;
        font-weight: 700;
        display: block;
        text-align: center;
        
    }

    &__text::after{
        content: "";
        width: 100%;
        border-bottom: .2rem solid $color-primary-text;
    }
}

