.colored-text{
    &-1{
        color:$color-tertiary-accent;
    }
    &-2{
        color:$color-primary-text;
    }
    
}

.upperCase{
    text-transform: capitalize;
    text-align: center;
}
.icon{
    &-1{
    display: block;
    justify-self: center;
    width: 4rem;
    
    height: 4rem;

    margin-bottom: 1rem;
    fill: $color-secondary-dark;

    }


    &-2{
        width: 2rem;
        height: 2rem; 
        fill: $color-white-3; 
        margin: 0 1rem; 
    }

    &-3{
        fill: $color-white-3; 
        
    }
}

.darkmode {
    color:$color-secondary-dark;
    font-size: 4rem;

}


.font{
    &-1{
        font-size: 1.5rem;
    }

    &-2{
        font-size: 2.5rem;
    }

    &-3{
        font-size: 3.5rem;
    }
}
//37.5em
//56.25em
//75em
//miin 112.5em

@media (max-width:17.5em) {
    .header__logo{
        h3{
            font-size: 2.9rem;
            padding-left: 0;
            padding: 0;
        }
    }

    .mobile-nav{
        display: block;
        &__btn{
            left: 80%;
            top: 14rem;
        }

        &__content{
            height: max-content;
        }

        &__bg{
            transform-origin: right;
            position: fixed;
            height: 90rem;
            width: 60vw;
            top: 5rem;
            right: 1.6rem;
        }

        &__item:not(:first-of-type){
            margin-bottom: 6px;
        }   
        &__item:first-of-type{
            margin-bottom: 2px;
        }   

        &__items{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align:  center;
            height: 100vh
        }


    }
    .footer{
        h3{

            font-size: 1.1rem;
        }
    }
}

@media(max-width:21.5625em){

    .footer{
        padding: 1rem;
        h3{
            font-size: 1.1rem;
        }

        p{
            padding-top: 0rem;
            font-size: 1rem;
            
        }

        &__links{
            margin-top: 0rem;
        }

        &__link{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
        }
    }
 
    .toggle{
        transform:translateY(50%) translateX(-10px);
        border-radius: 1rem;
        margin-right: 0rem;
    }
    .header{
        width: 100%;
    }
    .header__logo{
        font-size: 3rem;
        padding-left: 2rem;
    }
    .about__img{
        margin-left: 0rem;
        margin-right: 2rem;
    }

    .mobile-nav{
        display: block;
        &__btn{
            width: 4rem;
            height: 4rem;
            right: 1.5rem;
            top: 12rem;
        }

        &__icon{
            width: 2rem;
            
        }
        &__icon::before{
            width: 2rem;
        }
        &__icon::after{
            width: 2rem;
        }
        &__content{

            margin-top: 5rem;

        }
        &__checkbox:checked ~ &__btn &__icon::before{

            left: 4px;
            top: 4px;
    
        }
        &__checkbox:checked ~ &__btn &__icon::after{

            left: 4px;
            top: 4px;
            
    
        }
    



    }

    .projects{
        flex-direction: column;
        &__card{
            margin: 8px;
            background-color: $color-white-1;
            border-radius: 7px;
            position: relative;
            min-width: 20rem;

            &-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                

                

                &--links{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    align-self: center;
                    position: absolute;
                    bottom: 5%;
                    font-size: 9px;
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media (max-width:23.75em) {
    .header__logo{
        padding-left: 1rem;
        font-size: 2.6rem;
        text-align: center;
        margin-top: 0rem;
        span{
            padding: 0;
        }
    }
}


@media(max-width:37.5em){
    .mobile-nav{
        display:block;
        &__checkbox:checked ~ &__btn &__icon::before{

            left: 12px;
            top: 12px;

    
        }
        &__checkbox:checked ~ &__btn &__icon::after{
            left: 12px;
            top: 12px;
            
    
        }
        &__btn{
            right: 2.5rem;
            top: 2rem;
        }
        &__items{
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align:  center;
            height: 100%;
            width: 100%;
    
    
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            
        }
        &__content{
            height: max-content;
        }



    }


    .nav{
        display: none;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about__img{
        // margin-left: 14rem;
        width: 22rem;
        height: 22rem;
        justify-self: center;
    }
    .about__text{
        font-size: 12px;
        padding: 10px 5px;
    }
    .about__paragraph{
        font-size: 12px;

    }

    .skills{
        &__items{
            flex-wrap: wrap;
            align-items: center;
    
        }
    }

    .stack{
        right: -43.8%;
        &__item{
    
            padding: .25rem;
            border-radius: .4rem;

    
        }
    }

    .stack-2{

        right: -25.5%;
    
    }

    .project{
    
        &__main-title{
            font-size: 3.8rem;
            text-align: center;
            font-weight: 700;
        }
        &__title{
            font-size: 1.2rem;
        }
        &__code{
            margin-top: 10px;
            border-radius: 6px;
            padding: 0;
            margin-right: 2px;
        }
    
        &__preview{
            margin-top: 10px;
            margin-left: 2px;
            border-radius: 6px;
            padding:0;
        }
        &__description{
            margin-top: .5rem;
            margin-bottom: 2rem;
            text-align: center;
            font-size: .9rem;
            font-weight: 400;
            line-height: 1;
        }
    }

    .projects{
        flex-direction: column;
        &__card{
            margin: 1rem;
            background-color: $color-white-1;
            border-radius: 1rem;
            width: 50%;
            height: 30rem;
            position: relative;
            

            &-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                

                

                &--links{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    align-self: center;
                    position: absolute;
                    bottom: 5%;
                    font-size: 9px;
                    margin-top: 2rem;
                }
            }
        }
    }

    .footer{

        h3{
            margin-top: -1.5rem;
            font-size: 1.4rem;
            color: $color-white-3;
        }

        p{
            padding-top: 1.5rem;
            font-size: 1rem;
            
        }

        &__links{
            margin-top: 2rem;
        }

        &__link{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
        }
    }
 

    .circle-small{

        &-1{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-primary-light-2;
        top: 70%;
        left: 30%;
        animation:dance 2s infinite alternate  ease-in;
    
        }
        &-2{
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-tertiary-accent;
        top: 10%;
        left: 70%;
        z-index: -1;
        animation:dance 2s infinite alternate  ease-in;
    
        }
    }
    
    .circle-medium{
    
    
        &-1{
        position: absolute;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        top: 4%;
        left: 40%;
        z-index: -1;
        background-color: $color-blue-3;
        animation:razz 2s infinite alternate  ease-in;
        }
    }
    
    .circle-big{
        &-1{
        display: none;
        }
        &-2{
            display: none;
        }
    }
    
    .circle-large{
        &-1{
            display: none;
        }
    }

    .header{
        width: 100%;
    }


    .header__logo{
        
        &__logo{
            // display: block;
            margin: 0;
            padding:0;
            color: $color-white-3;
            font-size: 8px;
            h3{
                font-size: 8px;
                font-weight: 300;
                width: 50%;
                padding: 0;
                margin: 0;
            }

            span{
                color: black;
                font-size: 8px;
                margin: 0;
                padding: 0;
            }
        }
    }
    
}

@media (max-width:56.25em) {
    .header{
        height: 14%;
        width: 100%;
    
    
        &__logo{
            padding-left: 5rem;
            font-size: 3rem;
            margin-top: 1rem;
            
            h3{
                color: $color-white-3;
            }

        }

    }
    .circle-small{

        &-1{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-primary-light-2;
        top: 70%;
        left: 30%;
        animation:dance 2s infinite alternate  ease-in;
    
        }
        &-2{
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-tertiary-accent;
        top: 10%;
        left: 70%;
        z-index: -1;
        animation:dance 2s infinite alternate  ease-in;
    
        }
    }
    
    .circle-medium{
    
    
        &-1{
        position: absolute;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        top: 4%;
        left: 40%;
        z-index: -1;
        background-color: $color-blue-3;
        animation:razz 2s infinite alternate  ease-in;
        }
    }
    
    .circle-big{
        &-1{
        display: none;
        }
        &-2{
            display: none;
        }
    }
    
    .circle-large{
        &-1{
            display: none;
        }
    }

    .about{
        flex-direction: column-reverse;
    }
    .about__img{
        align-self: center;
    }

    .nav{
        margin-right: 0;

        &-list{           

            justify-content: space-between;
    
            &__item{
                margin-right: .3rem;
                margin-left: .8rem;
                font-size: 1.6rem;
                padding: .2rem .2rem;
                align-self: center;
                
                border-radius: .6rem;
                color: $color-secondary-text;
                background-color:$color-white-3;
                transition: all .15s ease-in;
    
        
        
            }
        }
    
    
    
    }

    .project__main-title{
        font-size: 3.5rem;
        font-weight: 600;
    }
    
    .stack{

        right: -23.5%;
    
    }

}    








